body {
  background: #192305;
  margin: 0;
}
canvas {
  background: #0a0e02;
}

p {
  color: #ffff;
}

.return {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.return a {
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  background-color: #3b4d23;
  transition: background-color 0.3s ease;
}

.return a:hover {
  background-color: #29331b;
}
.return a:active {
  background-color: #29331b;
}
